@keyframes example{
    0% {background-color: white;}
    50% {background-color: orange;}
    100% {background-color: white;}
}

@font-face{
    font-family: Righteous, sans-serif;
    src: url(../fonts/Righteous-Regular.ttf);
}

html{
    margin: 0;
    font-size: 16px;
    font-size: 62.5%;
}

#banner h1{
    font: 2em Righteous black;
}

a{
    text-decoration: none;
    font: 1.2em Righteous lightblue;
}

table{
    border:1px solid black;
    border-collapse:collapse;
}

table form{
    text-align: center;
}

table form input{
    font: 1.4em Righteous black;
    background-color: lightyellow;
}

th{
    border:1px solid black;
    border-collapse:collapse;
    background-color:lightblue;
    font: 1.4em Righteous black;
}

td{
    border:1px solid black; 
    border-collapse:collapse;
    text-align: center;
    font: 1.2em Righteous black;
}

td:hover{
    animation-name: example;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
